<% layout('./layouts/boilerplate')%>
  <!-- <h1>
    <%= campground.title %>
  </h1>
  <h2>
    <%= campground.location %>
  </h2>

  <img src="<%= campground.image%>" alt="">

  <p>
    <%= campground.description%>
  </p>

  <p> <a href="/campgrounds/<%=campground._id%>/edit">Edit</a>
  </p>
  <p>
  <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
    <button>Delete</button>
  </form>
  </p>
  <footer>
    <a href="/campgrounds">All Campgrounds</a>
  </footer> -->

  <div class="row">
    <div class="col-6">
      <div class="card mb-5">
        <img src="<%= campground.image%>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            <%= campground.title%>
          </h5>
          <p class="card-text">
            <%= campground.description%>
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-muted">
            <%= campground.location %>
          </li>
          <li class="list-group-item">Rs <%= campground.price %> /night</li>
        </ul>
        <div class="card-body">
          <a class="btn btn-info" href="/campgrounds/<%=campground._id%>/edit">Edit</a>
          <!-- <a href="#" class="card-link">Another link</a> -->
          <form class="d-inline" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
          </form>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>



    </div>

    <div class="col-6">
      <h2 class="mb-2">Leave a review..</h2>
      <div>
        <form action="/campgrounds/<%=campground._id%>/reviews" class="mb-3 needs-validation" method="POST" novalidate>

          <div class="mb-3">
            <label for="rating" class="form-label mb-3">Rating</label>
            <input type="range" class="form-range" id="rating" min="1" max="5" name="review[rating]" required>
          </div>
          <div class="mb-3">
            <label for="body" class="form-label">Review</label>
            <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
          </div>
          <button type="submit" class="btn btn-warning">Submit</button>
        </form>
      </div>

      <%for(let review of campground.reviews){%>
        <div class="card">
          <div class="card-body">

            <h5 class="card-title">Rating: <%=review.rating%>
            </h5>

            <p class="">Review: <%=review.body%>
            </p>
            <form action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
              <button class="btn btn-sm btn-danger">Delete</button>
            </form>
          </div>



        </div>
        <%}%>
    </div>

  </div>
